<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <title><%= title %> | CRUD Exam</title>
</head>
<body class="bg-dark text-light">
  <section class="container">
    <heading>
      <h3 class="text-center display-4">NodeJS CRUD Exam -- Inventory</h3>
      <hr class="p-1 bg-light rounded"/>
    </heading>
    <article>
    </article>
  </section>
</body>
</html>